:root {
    --cor-de-fundo: #32CD32;
    --verde: #008000;
    --preta: #000;
    --branco: #fff;
    --azul: #6495ED;
}

body{
    background-image: linear-gradient(#32CD32, #008000);
}

.cabecalho{
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center;
}

.imagem-cabecalho{
    width: 120px;
}

.titulo-cabecalho{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    align-items: center;
}
