:root {
    --cor-de-fundo: #32CD32;
    --verde: #008000;
    --preta: #000;
    --branco: #fff;
    --azul: #6495ED;
}

body{
    background-image: linear-gradient(#32CD32, #008000);
}

.cabecalho{
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem-cabecalho{
    width: 120px;
}

.titulo-cabecalho{
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;
}
